* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
}

:root {
  --lila: #ffccff;
  --violeta: #ff99ff;
  --degradado: linear-gradient (90deg, var(--lila), var(--violeta));
}

::selection {
  background: var(--lila);
  color: black;
}

body {
  background: lightgray;
  overflow: auto;
  padding: 1rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--lila);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  grid-area: header;
}

nav {
  grid-area: nav;
  /*luego agregar el nav en el costado*/
}

main {
  grid-area: main;
}

.navList {
  list-style: none;
  display: flex;
}

.navItem {
  margin: 0 0 0 1.5rem;
}

.nav_link {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.logo {
  color: black;
}

.navbar {
  font-size: 1rem;
  margin-left: 2rem;
  color: black;
}

.navbar a:hover {
  color: violet;
}

input {
  display: none;
}

label {
  font-size: 2rem;
  color: black;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}

footer {
  text-align: center;
  font-size: medium;
  background-color: var(--violeta);
  grid-area: footer;
}

@media (min-width: 768px) {
  body {
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 12rem 1fr;
    grid-template-areas:
      "header header"
      "main main"
      "footer footer";
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 600px) {
  header {
    width: 95%;
  }
  .primary-section {
    margin-top: 10%;
    font-size: 18px;
  }
  label {
    visibility: visible;
    opacity: 1;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    padding: 1rem 2rem;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }
}

.sectionTarjeta {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 10%;
  margin-bottom: 10%;
}

.servicio {
  display: flex;
  flex: 0 1 300px;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 2rem;
}

.servicioTitulo {
  font-size: 20px;
}

.servicioDescrip {
  font-size: 18px;
}

.imagSer {
  order: -1;
  align-self: center;
  max-width: 100%;
}

.botonSer {
  background: black;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  font-size: 18px;
}

.logo {
  width: 7%;
  margin: 0 auto;
  max-width: 1320px;
}

.titulo1 {
  font-size: x-large;
  text-align: center;
  padding: 2rem;
}

.video {
  text-align: center;
  margin-top: 15%;
}
.imagenes {
  width: 100%;
}

.section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.7rem;
}

.contenido {
  color: white;
  background-image: url(https://images.pexels.com/photos/5366526/pexels-photo-5366526.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  padding: 10rem 0 0;
  height: 50vh;
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 500ms ease;
}

.card :hover,
.card :focus-within {
  transform: scale(1.05);
}

.pcont {
  padding: 1.5rem;
  background: linear-gradient(black, rgba(0, 0, 0, 0.5));
  transform: translateY(65%);
  transition: transform 500ms ease;
}

.contenido:hover .pcont {
  transform: translateY(0);
  transition-delay: 500ms;
}

.titulo {
  text-align: center;
  font-size: xx-large;
}
