@import "variables.scss";
.logoWpp {
  display: inline-block;
  position: fixed;
  right: 10px;
  bottom: 10px;
}
.logo {
  position: relative;
  width: 10%;
  text-decoration: none;
}
.contenido {
  background-color: $color-contenido;
  .fondo {
    background-color: $color-fondo;
  }
  .cuestionario {
    text-align: center;
  }
  .videoPosi {
    text-align: center;
  }
  .secciones {
    background-color: white;
    padding: 2rem;
  }
}

.video {
  width: 416px;
  height: 283px;
}
@media (max-width: 576px) {
  .video {
    width: 340px;
  }
}
